<h3>GridBidimensional</h3>

<table>
    <tbody>
        @for (int y = 0; y < coordenadaY; y++)
        {
            <tr>
                @for (int i = 0; i < coordenadaX; i++)
                {
                    var local_i = i;
                    <button type="button" @onclick="() => ShowPosition(local_i)">@ContadordeNo</button>
                }
            </tr>
        }

    </tbody>
</table>

<table>
    <thead>

    </thead>
    <tbody>
    </tbody>
</table>
@code {
    [Parameter] public int coordenadaY { get; set; }
    [Parameter] public int coordenadaX { get; set; }

    private int ContadordeNo;

    private void ShowPosition(int Local)
    {
        ContadordeNo++;
    }

}
